<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/createdPosts.css" />
    <title>Pinterest</title>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

  <body>
    <% include ./partials/navbar.ejs %>
    <h1>Created pins</h1>
    
    <div class="container">
      <% user.posts.forEach(function(post){ %>
      <div class="box">
        <img src="/images/uploads/<%= post.image %>" class="card-img-top" />
        <div class="card-body">
          <h5 class="caption"><%= post.imageText %></h5>
        </div>
      </div>
      <% }) %>
    </div>

    <script>
      const navSlide = () => {
        const lines = document.querySelector(".lines");
        const nav = document.querySelector(".navLink");

        lines.addEventListener("click", () => {
          nav.classList.toggle("nav-active");

          lines.classList.toggle("toggle");
        });
      };

      navSlide();

    </script>
  </body>
</html>
