* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dadada;
  font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.3);
}
.content {
  width: 56%;
  margin: auto;
  text-align: center;
}

.img1 {
  width: 70px;
  position: relative;
  top: 20px;
}
.header {
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 1;
}
.detail {
  width: 100%;
  height: 48px;
  margin: 5px;
  padding: 15px;
  font-size: 15px;
  color: gray;
  border: 2px solid rgb(218, 214, 214);
  border-radius: 15px;
}

a {
  font-size: 13px;
  font-weight: 700;
  margin: 5px;
  text-decoration: none;
  color: black;
}

.btn {
  width: 100%;
  height: 40px;
  border: hidden;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px 0px;
}

.int {
  background-color: #f30d19;
  margin: 10px 0px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.int:hover {
  background-color: #df0812;
}


footer p {
  font-size: 12px;
  margin: 10px;
  opacity: 0.7;
}
p:last-child {
  opacity: 1;
}
hr {
  width: 50%;
  opacity: 0.4;
  margin-left: 25%;
}
.upbtn {
  position: relative;
  top: 50px;
  left: 140px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 126px;
  padding: 11px 0px;
  background-color: rgb(241, 236, 236);
  border-radius: 20px;
}
